#mainDiv{
    padding: 0px;
}

.contet {
    /*width: 60%;
    height: 300px;
    overflow: hidden;
    position: page;
    background-color: rgb(0, 0, 0, 0.50);
    */color: wheat;
    transition: height 0.5s;
    float:left;
    display:contents;
    font-size: 24px;
    margin: 20px;
}

/*    .contet:hover {
        overflow: scroll;
        white-space: normal;
        height: 100%;
        overflow-x: hidden;  Hide horizontal scrollbar 
    }*/

.pfp {
    width: 500px;
    margin: 0px;
    padding: 20px;
    float: left;
}